$color-primary: #ffffff;
$color-primary-light: #ffffff;
$color-primary-dark: #cccccc;

$color-secondary: #2a3747;
$color-secondary-light: #546172;
$color-secondary-dark: #011120;

$color-on-primary: #000;
$color-on-primary-light: #a1a1a1;
$color-on-secondary: #fff;

$color-highlight: #fa4141;
